{% extends 'company/base_com.html' %}
{% load static %}
{% block conten %}

        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="row g-0 about-bg rounded overflow-hidden">
                            <div class="col-6 text-start">
                                <img class="img-fluid w-100" src="{% static 'website/img/about-1.jpg' %}">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid" src="{% static 'website/img/about-2.jpg' %}" style="width: 85%; margin-top: 15%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid" src="{% static 'website/img/about-3.jpg' %}" style="width: 85%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid w-100" src="{% static 'website/img/about-4.jpg' %}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <h1 class="mb-4">Search and recruit interns</h1>
                        <p class="mb-4">Connect with millions of satisfied candidates - Hire the right talent with us</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Quick search</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Quality students</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Prestige, high quality</p>
                        <a class="btn btn-primary py-3 px-5 mt-3" href="">Pos job</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
{% endblock %}