{% extends 'company/base_com.html' %}
{% load static %}
{% block conten %}
 <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
  </nav>
  <h2 class="mb-3">My Jobs</h2>
  <a href="/create_job" class="btn btn-primary mb-3" role="button">Create Job</a>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Title</th>
          <th>Deadline</th>
          <th>Number req</th>
          <th>Number applicants</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for job in jobs %}
          <tr>
            <td class="align-middle"><a href="job/{{job.id}}">{{ job.title }}</a></td>
            <td class="align-middle">{{ job.deadline }}</td>
            <td class="align-middle">{{ job.number_req }}</td>
            <td class="align-middle">{{ job.apply_count }}</td>
            <td class="text-right">
              <a href="job/{{job.id}}/view" class="btn btn-primary">View results</a>
            </td>
          </tr>
        {% empty %}
<!--          <tr>-->
<!--            <td class="bg-light text-center font-italic" colspan="5">You haven't created any quiz yet.</td>-->
<!--          </tr>-->
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}