{% extends 'student/base_stu.html' %}
{% load static %}
{% block conten %}
<section class="vh-100" style="background-color: #2779e2;">
  <form  method="POST" enctype="multipart/form-data">
    {% csrf_token %}

  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">

        <h1 class="text-white mb-4">Apply for a job</h1>

        <div class="card" style="border-radius: 15px;">
          <div class="card-body">

            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Full name</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input type="text" name="fullname" maxlength="45" id="id_fullname" class="form-control form-control-lg" />

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Email address</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input type="email" name="email" maxlength="200" required id="id_email" class="form-control form-control-lg" placeholder="example@example.com" />

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">PR</h6>

              </div>
              <div class="col-md-9 pe-5">

                <textarea class="form-control" name="pr" cols="40" rows="10" id="id_pr" placeholder="Message sent to the employer"></textarea>

              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Upload CV</h6>

              </div>
              <div class="col-md-9 pe-5">
                      <label for="id_cv">Cv:</label>

                            <input type="file" name="cv" id="id_cv">
<!--                <input class="form-control form-control-lg" type="file" name="cv" id="id_cv" />-->
<!--                <div class="small text-muted mt-2">Upload your CV/Resume or any other relevant file. Max file-->
<!--                  size 50 MB</div>-->

              </div>
            </div>

            <hr class="mx-n3">

            <div class="px-5 py-4">
              <button type="submit" class="btn btn-primary btn-lg" name="_save">Send application</button>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
  </form>
</section>
{{form}}
{% endblock %}